# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints/

# -------------------------
# IDE files
# -------------------------
.idea/
.vscode/

# -------------------------
# Windows system files
# -------------------------
desktop.ini
Thumbs.db

# -------------------------
# Mac system files
# -------------------------
.DS_Store

# -------------------------
# Virtual environments
# -------------------------
venv/
env/
.venv/

# -------------------------
# Logs
# -------------------------
*.log
